@font-face {
  font-family: Gilroy;
   src: url("../fonts/gilroy-light.woff") format("woff");
}
@font-face {
  font-family: GilroyBold;
   src: url("../fonts/gilroy-bold.woff") format("woff");
}

body {
  padding: 0px;
  margin: 0px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-weight: 100%;
  font-family: Gilroy, "Courier New", Courier, monospace;
}

header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

header img {
  width: 40px;
  height: 40px;
}
header h3 {
  font-weight: bolder;
  /* font-family: GilroyBold, "Courier New", Courier, monospace; */
  padding: 5px;
  font-weight: bold;
}
header span {
  position: relative;
  top: -4px;
  left: -5px;
  font-size: 2em;
  color: #1d6aff;
}

main {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-flow: column nowrap;
  padding: 5px 15px;
  box-sizing: border-box;
}

main .from {
  display: flex;
  width: 100%;
  padding: 15px 0px;
  color: #666;
}
main .from .content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 5px;
}
main .from .content span:first-child {
  color: #333cc1;
}

main .description {
  padding: 5px;
  box-sizing: border-box;
  color: #aaa;
  text-align: center;
}

main .remindBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px 0px;
}

main .remindBox .reminder {
  height: 236px;
  width: 336px;
  overflow: hidden;
  box-shadow: 0px 0px 6px #ccc;
  border-radius: 2px;
  display: flex;
  box-sizing: border-box;
  color: #777;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main .remindBox .reminder b {
  letter-spacing: 1px;
}
main .remindBox .reminder h1 {
  color: #eb5757;
}
main .remindBox .reminder small {
  font-size: 0.8em;
  text-align: center;
  width: 220px;
}

main .remindBox .buttonBox {
  width: 336px;
  padding: 20px 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
main .remindBox .buttonBox a {
  width: calc(100% - 10px);
  height: 40px;
  margin: 10px auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333cc1;
  font-family: GilroyBold, "Courier New", Courier, monospace;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  border: none;
}
main .remindBox .buttonBox a.remind {
  color: #333cc1;
  border: 1px solid #333cc1;
  background: white;
}
main .remindBox .buttonBox a:active {
  background: rgba(0, 0, 0, 0.3);
}

main .verifiedBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}
main .verifiedBox img {
  height: 30px;
  width: 30px;
}
main .verifiedBox .verified {
  margin: 10px 0px;
  color: #333cc1;
}
main .verifiedBox .playBox {
  width: 170px;
  height: 50px;
  display: flex;
  background: black;
  margin: 10px auto;
  border-radius: 50px;
}
main .verifiedBox .playLogo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  margin: auto 5px;
  border: 1px solid white;
}
main .verifiedBox .playLogo img {
  margin: auto;
  height: 32px;
  width: 32px;
}
main .verifiedBox .playText {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75em;
  flex-flow: column nowrap;
  color: white;
}
main .verifiedBox .playText b {
  font-weight: bolder;
  font-family: GilroyBold, "Courier New", Courier, monospace;
  letter-spacing: 1px;
}

@media only screen and (min-width: 720px) {
  main {
    flex-flow: row wrap;
  }
  main .from {
    width: 200px;
  }

  main .description {
    width: calc(100% - 160px);
    max-width: calc(100% - 220px);
  }

  main .remindBox {
    margin: 20px auto;
    flex-flow: row nowrap;
    height: 300px;
  }
  main .remindBox .reminder,
  main .remindBox .buttonBox {
    height: 100%;
    margin: 0px 10px;
  }
}
